<% totals_str = '' %>
<% for time in Activity.all do %>
  <strong><%= time.activity %></strong>
  <% total = 0 %>
  <table>
    <tr class="no_decoration">
      <th width="30%">Project</th>
      <th width="50">Activity</th>
      <th width="20%">Time</th>
    </tr>    
      
      <% if records %>
        <% records.each do |record| %>
        
          <% if record.activity.activity == time.activity %>
            <tr>
              <td><%= record.project.title%></td>
              <td><%= record.description %></td>
              <td><%= minutes_to_str(record.time) %></td>
            </tr> 
            <% total += record.time %>
          <% end %>
        <% end %>  
      <% end %>    
   
  </table>
  <div class="total">
    Total: <%= minutes_to_str(total) %>
  </div>
  <% totals_str << "#{minutes_to_str(total)} #{time.activity.downcase} | "%>
  <br />
<% end %>
<div class="day_totals">
  Totals for day: <%= totals_str%>
</div>
