
<%= form_for @record do |f| %>
 
  <% if @record.errors.any? %>  
    <div class="error_messages">  
      <h2>Form is invalid</h2>  
      <ul>  
        <% for message in @record.errors.full_messages %>  
          <li><%= message %></li>  
        <% end %>  
      </ul>  
    </div>  
  <% end %>  
 
  <p>
    <%= f.label :project %>
    <%= f.collection_select :project_id, Project.all, :id, :title %> 
  </p>
  
  <p>
    <%= f.label :activity %>
    <%= f.collection_select :activity_id, Activity.all, :id, :activity %> 
  </p>
  
  <p>
    <%= f.label :time %>
    <%= f.text_field :time %> 
  </p> 
  
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %> 
  </p>
  
    <%= hidden_field_tag "record[date]", @record.date %>
  
  <%= f.submit %>
<% end %>

<br />
<%= link_to "Back", records_path(:date => @record.date) %>
