 <div id="calendar">
 <h2 id="month">
    <%= link_to "<", records_path(:date => (@date.beginning_of_month-1).strftime("%Y-%m-%d")) %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", records_path(:date => (@date.end_of_month+1).strftime("%Y-%m-%d")) %>
  </h2>

<%= calendar_for(@records, :year => @date.year, :month => @date.month) do |t| %>
  <%= t.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 
    'Friday', 'Saturday') %>
  <%= t.day(:day_method => :date) do |date,records| %>
    <% if (date == @date) %>
      <% @day_records = records %> 
      <% sel = 'current'%> 
    <% else %>
      <% sel = 'no' %>       
    <% end %>    
    <%= link_to date.day, records_path(:date => date), :class => "#{sel}" %>    
    
  <% end %>
<% end %>
</div>

<% unless @view %>
  <h4 class="inline">Activities for <%= current_user.name %> on 
  <strong><%= "#{@date.strftime("%d %B %Y (%A)")}" %></strong></h4>
  <div class="inline>"><%= link_to "Add record", new_record_path(:date => @date) %> |
 <%= link_to "Consolidated report", 
    records_path(:date => @date, :view => 'consolidated') %></div>
  <br />
  <%= render :partial => 'day_records', :locals => { :records => @day_records } %>
  <br />
  <%= link_to "Add record", new_record_path(:date => @date) %>  
  <%= link_to "Consolidated report", 
  records_path(:date => @date, :view => 'consolidated') %>  
<% else %>  
  <h4>Consolidated report for <%= @date.strftime("%B %Y") %></h4><br />
  <%= link_to "Back", records_path(:date => @date) %><br />
  <% @date.beginning_of_month.upto @date.end_of_month do |date| %>
    <% collection = [] %>
    <% @records.each {|rec| collection << rec if rec.date == date} %>
    <%= date %>
    <% if collection.blank? %>
     <%= " - no activity" %><br /> 
     <% else %>
    <br />
    <%= render :partial => 'day_records', :locals => { :records => collection } %>
    <br /><br />
    <% end %>
  <% end %>
  <%= link_to "Back", records_path(:date => @date) %><br />
<% end %>
<br />


