 <h2 id="month">
    <%= link_to "<", records_path(:date => (@date.beginning_of_month-1).strftime("%Y-%m-%d")) %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", records_path(:date => (@date.end_of_month+1).strftime("%Y-%m-%d")) %>
  </h2>

<%= calendar_for(@records, :year => @date.year, :month => @date.month) do |t| %>
  <%= t.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 
    'Friday', 'Saturday') %>
  <%= t.day(:day_method => :date) do |date,records| %>
    <%= link_to date.day, records_path(:date => date) %>
    <% if (date == @date) %>
      <% @day_records = records %>      
    <% end %>
    <% records.each do |rec| %>
      <%= rec.id %>
    <% end %>
  <% end %>
<% end %>

<br /><br />

<p> <%= "@date = #{@date}" %></p>

<%= link_to "Add record", new_record_path(:date => @date) %>
<%= link_to "Consolidated report", 
  records_path(:date => @date, :view => 'consolidated') %>
<br /><br />
<% unless @view %>
  <%= render :partial => 'day_records', :locals => { :records => @day_records } %>
<% else %>
  <% @date.beginning_of_month.upto @date.end_of_month do |date| %>
    <% collection = [] %>
    <% @records.each {|rec| collection << rec if rec.date == date} %>
    <%= date %>
    <% if collection.blank? %>
     <%= " - no activity" %><br /> 
     <% else %>
    <br />
    <%= render :partial => 'day_records', :locals => { :records => collection } %>
    <br /><br />
    <% end %>
  <% end %>
<% end %>

