<!DOCTYPE html>
<html>
<head>
  <title>Reporter</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body> 
    <div class="container">
      
      <div id="header" class="span-15 prepend-1">
        <div class="inner">
          <div id='title'>
            <a href="/">ACTIVITY REPORTER</a> <br />
            This is a nice way to spice up some web things as well as
            gather great experience ...
          </div> 
         </div>      
       </div>
   
       <div id="auth" class="span-8 last">
         <div class="inner">   
           <% if current_user %>
            <% if current_user.newcomer? %>
              <%= "Registered as #{current_user.login} " %> |
              <%= link_to "Registration", register_path %> | 
            <% else %>
               <%= "Welcome, #{current_user.name} " %> |
            <% end %>
            <%= link_to( 'Log out', logout_path)  %>
          <% else %>
            There are no authenticated users | 
            <%= link_to( 'Log in', login_path)  %>
          <% end %>   
         </div>
      </div> 
      
      <div id="flash" class="span-24 last">  
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class => "#{name}" if msg.is_a?(String) %>
        <% end %>
      </div>   
      
      <div id="main" class="span-24 last">
        <div class="inner">
          
          <%= yield %>
          
        </div>     
      </div>      
     
      <div id="footer" class="span-24 last">
        <div class="inner">
        Copyright © 2012 - All Rights Reserved | 
        Design: Victor Kedyulich |
        <%= mail_to("kedvictor@gmail.com" , "Contact Support",
          :subject => "Support question",
          :encode => "javascript") %> 
        | Follow me: 
        <a href="http://www.facebook.com/profile.php?id=100003300128889&sk=subscribedto" target="_blank">
          <img src="/assets/social/PNG/facebook.png" alt="facebook"/></a>
        <a href="https://twitter.com/#!/kedvictor" target="_blank">
          <img src="/assets/social/PNG/twitter.png" alt="twitter"/></a> 
         
         </div>
       </div> 
           
    </div>
  </body>
</html>

   
